.button {
  padding: .5rem 1rem;
  display: inline-block;
  border-radius: 5px;

    &:hover {
      text-decoration: none;
    }
}

.button.button__gold {
  @include goldButton();
}

.button.button__gold.button_small {
  @include goldButton();
  font-size: .7rem;
}
