.hero-slider {
  max-width: 100%;
  overflow-x: hidden;
}

.default_page_hero {
  img {
    border-bottom: 6px solid $gold;
  }

}

.pro-slider {

  .content {
    border: 1px solid $gold;
    border-radius: 10px;
  }
  span,
  p,
  a,
  .ms_content_wrap {
    display: none;
      @include media-breakpoint-up(md) {
        display: block;
        color: $gold !important;
      	text-shadow: 2px 1px #000 !important;
        font-family: 'EB Garamond', serif !important;
        line-height: 110% !important;
      }
  }
}

.metaslider .msHtmlOverlay .layer * {
  line-height: 110% !important;
}

.flex-control-nav.flex-control-paging {
  display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
}

.hero-slider .metaslider .flexslider {
  margin: 0;
  @include media-breakpoint-up(md) {
    margin: 0 0 40px;
  }
}
