.site-footer {
  padding: 2rem 0;
  color: #999;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
    border-top: 5px solid $dark-grey;
  }
}


.footer-box {
  @include media-breakpoint-up(md) {
    font-size: 1rem;
  }

  h4 {
    @include goldText(2px 2px);
    font-size: 1.25rem;
  }

  ul {
    list-style-type: none;
    padding: 0 0 0 .25em;
    li {
      margin: 0 0 .25rem 0;
      padding: 0;
    }
  }

  a {
    color: #999;
      &:hover {
        color: $gold;
      }
  }
}
